<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>/home/rock/repository</localRepository>

	<pluginGroups>
		<pluginGroup>org.apache.tomcat.maven</pluginGroup>
		<pluginGroup>org.mule.tools</pluginGroup>
		<pluginGroup>org.apache.portals.jetspeed-2</pluginGroup>
	</pluginGroups>

	<proxies>
	</proxies>
	<servers>
		<server>
			<id>tomcat7</id>
			<username>admin</username>
			<password>admin</password>
		</server>
	</servers>

	<mirrors>
		<mirror>
			<id>CN</id>
			<url>http://maven.oschina.net/content/groups/public/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
		<mirror>
			<id>repo2</id>
			<mirrorOf>central</mirrorOf>
			<url>http://repo2.maven.org/maven2/</url>
		</mirror>
		<mirror>
			<id>net-cn</id>
			<mirrorOf>central</mirrorOf>
			<url>http://maven.net.cn/content/groups/public/</url>
		</mirror>
		<mirror>
			<id>ui</id>
			<mirrorOf>central</mirrorOf>
			<url>http://uk.maven.org/maven2/</url>
		</mirror>
		<mirror>
			<id>ibiblio</id>
			<mirrorOf>central</mirrorOf>
			<url>http://mirrors.ibiblio.org/pub/mirrors/maven2/</url>
		</mirror>
		<mirror>
			<id>jboss-public-repository-group</id>
			<mirrorOf>central</mirrorOf>
			<url>http://repository.jboss.org/nexus/content/groups/public</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>jdk-1.6</id>
			<activation>
				<activeByDefault>true</activeByDefault>
				<jdk>1.6</jdk>
			</activation>
			<properties>
				<maven.compiler.source>1.6</maven.compiler.source>
				<maven.compiler.target>1.6</maven.compiler.target>
				<maven.compiler.compilerVersion>1.6</maven.compiler.compilerVersion>
			</properties>
			<repositories>
				<repository>
					<id>offical</id>
					<url>http://repo1.maven.org/maven2</url>
				</repository>
				<repository>
					<id>sun</id>
					<url>http://download.java.net/maven/2/</url>
				</repository>
				<repository>
					<id>sonatype</id>
					<url>http://repository.sonatype.org/content/groups/public/</url>
				</repository>
				<repository>
					<id>repo.springsource.org</id>
					<url>http://repo.springsource.org/release</url>
				</repository>
				<repository>
					<id>ibiblio</id>
					<url>http://mirrors.ibiblio.org/pub/mirrors/maven2</url>
				</repository>
				<repository>
					<id>codehaus</id>
					<url>http://repository.codehaus.org</url>
				</repository>
				<repository>
					<id>mvnsearch</id>
					<url>http://www.mvnsearch.org/maven2</url>
				</repository>
				<repository>
					<id>mavenhub</id>
					<url>http://mavenhub.com/mvn/central</url>
				</repository>
				<repository>
					<id>mulesoft-releases</id>
					<url>https://repository.mulesoft.org/releases/</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>typesafe</id>
					<url>http://repo.typesafe.com/typesafe/releases/</url>
				</repository>
				<repository>
					<id>repo.akka.io</id>
					<url>http://repo.akka.io/releases/</url>
				</repository>
				<repository>
					<id>jasperreports</id>
					<url>http://jasperreports.sourceforge.net/maven2</url>
				</repository>
				<repository>
					<id>freehep</id>
					<url>http://java.freehep.org/maven2</url>
				</repository>
				<repository>
					<id>JCurl</id>
					<url>http://jcurl.berlios.de/m2/repo</url>
				</repository>
				<repository>
					<id>JavaNet</id>
					<url>http://download.java.net/maven/2/</url>
				</repository>
				<repository>
					<id>djmaven2</id>
					<url>http://www.fdvs.com.ar/djmaven2</url>
				</repository>
				<repository>
					<id>MarketceteraRepo</id>
					<url>http://repo.marketcetera.org/maven</url>
				</repository>
				<repository>
					<id>mirrors.ibiblio.org</id>
					<url>http://mirrors.ibiblio.org/maven2</url>
				</repository>
				<repository>
					<id>maven.oschina.net</id>
					<url>http://maven.oschina.net/content/groups/public</url>
				</repository>
				<repository>
					<id>repo-mirror</id>
					<url>http://maven.net.cn/content/groups/public/</url>
				</repository>
				<repository>
					<id>mvnrepository.com</id>
					<url>http://mvnrepository.com/artifact</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>offical</id>
					<url>http://repo1.maven.org/maven2</url>
				</pluginRepository>
				<pluginRepository>
					<id>jboss-public-repository-group</id>
					<url>https://repository.jboss.org/nexus/content/groups/public-jboss</url>
				</pluginRepository>
				<pluginRepository>
					<id>sun</id>
					<url>http://download.java.net/maven/2/</url>
				</pluginRepository>
				<pluginRepository>
					<id>sonatype</id>
					<url>http://repository.sonatype.org/content/groups/public/</url>
				</pluginRepository>
				<pluginRepository>
					<id>mulesoft-release</id>
					<name>mulesoft release repository</name>
					<layout>default</layout>
					<url>http://repository.mulesoft.org/releases/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>code.taobao.org</id>
					<url>http://code.taobao.org/mvn/repository</url>
					<layout>default</layout>
				</pluginRepository>
				<pluginRepository>
					<id>plugin-repo-mirror</id>
					<url>http://maven.net.cn/content/groups/public/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>

	</profiles>
</settings>
