<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:camel-sec="http://camel.apache.org/schema/spring-security"
	xmlns:batch="http://www.springframework.org/schema/batch"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-3.2.xsd
    	   http://www.springframework.org/schema/jee
    	   http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
    	   http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring-2.9.2.xsd
    	   http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    	  http://camel.apache.org/schema/spring-security
          http://camel.apache.org/schema/spring-security/camel-spring-security-2.9.2.xsd
          http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-2.2.xsd">

	<import resource="classpath:camel/*camel-*.xml" />

	<camelContext id="camelContext" xmlns="http://camel.apache.org/schema/spring">
		<contextScan>

		</contextScan>
		<!-- <packageScan> -->
		<!-- <package>com.works.process</package> -->
		<!-- </packageScan> -->
		<jmxAgent id="agent" createConnector="true" />
		<onException>
			<exception>org.apache.camel.CamelAuthorizationException</exception>
			<handled>
				<constant>true</constant>
			</handled>
			<transform>
				<simple>Access Denied with the Policy of ${exception.policyId} !</simple>
			</transform>
		</onException>

		<!-- <route> -->
		<!-- <from uri="direct:UnlockUserAccountWithResetPasswordService" /> -->
		<!-- <to uri="jms://queue:UnlockUserAccountWithResetPasswordService" /> -->
		<!-- </route> -->
		<!-- <route> -->
		<!-- <from uri="jms://queue:UnlockUserAccountWithResetPasswordService" 
			/> -->
		<!-- <to uri="direct:UnlockUserAccountWithResetPasswordService" /> -->
		<!-- </route> -->
		<!-- <route> -->
		<!-- <from uri="servlet:///user" /> -->
		<!-- <policy ref="user"> -->
		<!-- <transform> -->
		<!-- <simple></simple> -->
		<!-- </transform> -->
		<!-- </policy> -->
		<!-- </route> -->
		<!-- <route> -->
		<!-- <from uri="servlet:///admin" /> -->
		<!-- <policy ref="admin"> -->
		<!-- <transform> -->
		<!-- <simple></simple> -->
		<!-- </transform> -->
		<!-- </policy> -->
		<!-- </route> -->
		<!-- <camel:route> -->
		<!-- <camel:from -->
		<!-- uri="ftp://localhost/data/ftp/outgoing/contacts.xml?username=rock-hu&password=chachunhu"></camel:from> -->
		<!-- <camel:process ref="camelLogger" /> -->
		<!-- <camel:to uri="jms:incomingContacts"></camel:to> -->
		<!-- </camel:route> -->
		<!-- <camel:route> -->
		<!-- <camel:choice> -->
		<!-- <camel:when> -->

		<!-- </camel:when> -->
		<!-- </camel:choice> -->
		<!-- </camel:route> -->

		<camel:route id="orderProcessRoute">
			<camel:from uri="jms:queue:order">
			</camel:from>
			<camel:pipeline>
				<bean ref="validateOrderProcessor" />
				<bean ref="registerOrderProcessor" />
				<bean ref="sendConfirmEmailProcessor" />
			</camel:pipeline>
		</camel:route>

		<camel:route>
			<camel:from uri="activemq:queue:fix" />
			<bean ref="fixService" method="createFixMessage" />
			<camel:to uri="quickfix-client:META-INF/quickfix/client.cfg" />
		</camel:route>
		<camel:route>
			<camel:from uri="quickfix-server:META-INF/quickfix/server.cfg" />
			<bean ref="fixService" method="parseFixMessage" />
			<camel:to uri="activemq:queue:fix" />
		</camel:route>

	</camelContext>

	<bean id="validateOrderProcessor"
		class="com.works.infrastructure.processor.ValidateOrderProcessor"></bean>
	<bean id="registerOrderProcessor"
		class="com.works.infrastructure.processor.RegisterOrderProcessor"></bean>
	<bean id="sendConfirmEmailProcessor"
		class="com.works.infrastructure.processor.SendConfirmEmailProcessor"></bean>

	<bean id="jmsComponent" class="org.apache.camel.component.jms.JmsComponent">
		<property name="connectionFactory" ref="pooledConnectionFactory" />
		<property name="useMessageIDAsCorrelationID" value="true" />
	</bean>
	<bean id="roundRobinRef"
		class="org.apache.camel.processor.loadbalancer.RoundRobinLoadBalancer" />
	<!-- <bean id="camelTransportFactory" -->
	<!-- class="org.apache.camel.component.cxf.transport.CamelTransportFactory"> -->
	<!-- <property name="bus" ref="cxf" /> -->
	<!-- <property name="camelContext" ref="camelContext" /> -->
	<!-- <property name="transportIds"> -->
	<!-- <list> -->
	<!-- <value>http://cxf.apache.org/transports/camel</value> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->

	<!-- <bean class="org.apache.camel.component.cxf.transport.CamelTransportFactory" -->
	<!-- lazy-init="false"> -->
	<!-- <property name="bus" ref="cxf" /> -->
	<!-- <property name="camelContext" ref="camelContext" /> -->
	<!-- <property name="transportIds"> -->
	<!-- <list> -->
	<!-- <value>http://cxf.apache.org/transports/camel</value> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->
	<!-- <camelContext id="destContext" xmlns="http://camel.apache.org/schema/spring"> -->
	<!-- <route> -->
	<!-- <from uri="jetty:http://localhost:9091/GreeterContext/GreeterPort" 
		/> -->
	<!-- <loadBalance ref="roundRobinRef"> -->
	<!-- <to uri="direct:EndpointA" /> -->
	<!-- <to uri="direct:EndpointB" /> -->
	<!-- </loadBalance> -->
	<!-- </route> -->
	<!-- </camelContext> -->
	<!-- <jaxws:endpoint id="endpointA" implementor="#implementorA" -->
	<!-- address="camel://direct:EndpointA" /> -->
	<!-- <jaxws:endpoint id="endpointB" implementor="#implementorB" -->
	<!-- address="camel://direct:EndpointB" /> -->

	<!-- <authorizationPolicy id="admin" access="ROLE_ADMIN" accessDecisionManager="aclAccessDecisionManager" -->
	<!-- xmlns="http://camel.apache.org/schema/spring-security" -->
	<!-- /> -->


	<!-- <authorizationPolicy id="user" access="ROLE_USER" accessDecisionManager="aclAccessDecisionManager" -->
	<!-- xmlns="http://camel.apache.org/schema/spring-security" /> -->

	<bean id="producerTemplate" class="org.apache.camel.impl.DefaultProducerTemplate">
		<constructor-arg>
			<ref bean="camelContext" />
		</constructor-arg>
	</bean>

	<!-- <bean id="camelJobExecutionListener" -->
	<!-- class="org.apache.camel.component.spring.batch.support.CamelJobExecutionListener"> -->
	<!-- <constructor-arg ref="producerTemplate" /> -->
	<!-- <constructor-arg value="jms:batchEventsBus" /> -->
	<!-- </bean> -->

	<!-- <bean id="camelProcessor" -->
	<!-- class="org.apache.camel.component.spring.batch.support.CamelItemProcessor"> -->
	<!-- <constructor-arg ref="producerTemplate" /> -->
	<!-- <constructor-arg value="direct:processor" /> -->
	<!-- </bean> -->

	<!-- <bean id="camelReader" -->
	<!-- class="org.apache.camel.component.spring.batch.support.CamelItemReader"> -->
	<!-- <constructor-arg ref="consumerTemplate" /> -->
	<!-- <constructor-arg value="jms:dataQueue" /> -->
	<!-- </bean> -->

	<!-- <batch:job id="camelJob"> -->
	<!-- <batch:step id="step"> -->
	<!-- <batch:tasklet> -->
	<!-- <batch:chunk reader="camelReader" writer="xmlOutputWriter" -->
	<!-- processor="camelProcessor" commit-interval="100" /> -->
	<!-- </batch:tasklet> -->
	<!-- </batch:step> -->
	<!-- <batch:listeners> -->
	<!-- <batch:listener ref="camelJobExecutionListener" /> -->
	<!-- </batch:listeners> -->
	<!-- </batch:job> -->

	<!-- quickfix component -->
	<bean id="quickfix" class="org.apache.camel.component.quickfixj.QuickfixjComponent">
		<property name="configurations">
			<util:map>
				<entry key="example" value-ref="quickfixjConfiguration" />
			</util:map>
		</property>
		<property name="messageFactory">
			<bean
				class="org.apache.camel.component.quickfixj.QuickfixjSpringTest.CustomMessageFactory" />
		</property>
	</bean>

	<!-- quickfix settings -->
	<bean id="quickfixjConfiguration"
		class="org.apache.camel.component.quickfixj.QuickfixjConfiguration">
		<property name="defaultSettings">
			<util:map>
				<entry key="SocketConnectProtocol" value="VM_PIPE" />
				<entry key="SocketAcceptProtocol" value="VM_PIPE" />
				<entry key="UseDataDictionary" value="N" />
			</util:map>
		</property>
		<property name="sessionSettings">
			<util:map>
				<entry key="FIX.4.2:INITIATOR->ACCEPTOR">
					<util:map>
						<entry key="ConnectionType" value="initiator" />
						<entry key="SocketConnectHost" value="localhost" />
						<entry key="SocketConnectPort" value="5000" />
					</util:map>
				</entry>
				<entry key="FIX.4.2:ACCEPTOR->INITIATOR">
					<util:map>
						<entry key="ConnectionType" value="acceptor" />
						<entry key="SocketAcceptPort" value="5000" />
					</util:map>
				</entry>
			</util:map>
		</property>
	</bean>
	<bean id="camelLogger" class="org.works.message.processor.CamelLogger"></bean>
</beans>